dataset/*/hec/*.jsonl filter=lfs diff=lfs merge=lfs -text
dataset/*/raw/** filter=lfs diff=lfs merge=lfs -text
dataset/ground_truth_events.csv filter=lfs diff=lfs merge=lfs -text
dataset/ground_truth/*.csv filter=lfs diff=lfs merge=lfs -text
