dataset/*/hec/*.jsonl filter=lfs diff=lfs merge=lfs -text
dataset/*/raw/** filter=lfs diff=lfs merge=lfs -text
dataset/*/notables/hec/*.jsonl filter=lfs diff=lfs merge=lfs -text
dataset/*/notables/raw/** filter=lfs diff=lfs merge=lfs -text
